<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Blood Test Database</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Test date</th>
      <th>Erythrocytes</th>
      <th>Hemoglobin</th>
      <th>VCM</th>
      <th>HCM</th>
      <th>Lymphocytes</th>
      <th>Leukocytes</th>
      <th>Neutrophils</th>
      <th>Eosinofilos</th>
      <th>Platelets</th>
      <th>VSG</th>
      <th>Patient</th>
      <th>Microbiologist</th>
      <th>Examination Cost</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @blood_tests.each do |blood_test| %>
      <tr>
        <td><%= blood_test.test_date %></td>
        <td><%= blood_test.erythrocytes %></td>
        <td><%= blood_test.hemoglobin %></td>
        <td><%= blood_test.vcm %></td>
        <td><%= blood_test.hcm %></td>
        <td><%= blood_test.lymphocytes %></td>
        <td><%= blood_test.leukocytes %></td>
        <td><%= blood_test.neutrophils %></td>
        <td><%= blood_test.eosinofilos %></td>
        <td><%= blood_test.platelets %></td>
        <td><%= blood_test.vsg %></td>
        <td><%= blood_test.patient.name %> <%= blood_test.patient.lastname %></td>
        <td><%= blood_test.microbiologist %></td>
        <td><%= blood_test.examination_cost %></td>
        <td><%= link_to 'Edit', edit_blood_test_path(blood_test), class:"button round tiny secondary" %></td>
        <td><%= link_to 'Delete', blood_test, method: :delete, data: { confirm: 'Are you sure?' }, class:"button round tiny alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="row">
  <div class="twelve columns text-center"><br />
    <%= link_to 'New Blood test', new_blood_test_path, class:"button round success" %>
  </div>
</div>
