<p id="notice"><%= notice %></p>

<h1>Listing Illness Details</h1>

<table>
  <thead>
    <tr>
      <th>Mainsymptom</th>
      <th>Datesymptomappeared</th>
      <th>Calmspain</th>
      <th>Intensifiespain</th>
      <th>Peakhour</th>
      <th>Patient</th>
      <th>Hospitalization</th>
      <th>Visit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illness_details.each do |illness_detail| %>
      <tr>
        <td><%= illness_detail.mainSymptom %></td>
        <td><%= illness_detail.dateSymptomAppeared %></td>
        <td><%= illness_detail.calmsPain %></td>
        <td><%= illness_detail.intensifiesPain %></td>
        <td><%= illness_detail.peakHour %></td>
        <td><%= illness_detail.patient %></td>
        <td><%= illness_detail.hospitalization %></td>
        <td><%= illness_detail.visit %></td>
        <td><%= link_to 'Show', illness_detail %></td>
        <td><%= link_to 'Edit', edit_illness_detail_path(illness_detail) %></td>
        <td><%= link_to 'Destroy', illness_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Illness detail', new_illness_detail_path %>
