<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Illness Database</h1>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>Main Symptom</th>
      <th>Date Symptom Appeared</th>
      <th>Pain Soother</th>
      <th>Pain Intensifier</th>
      <th>Peak Hour</th>
      <th>Patient</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illness_details.each do |illness_detail| %>
      <tr>
        <td><%= illness_detail.mainSymptom %></td>
        <td><%= illness_detail.dateSymptomAppeared %></td>
        <td><%= illness_detail.calmsPain %></td>
        <td><%= illness_detail.intensifiesPain %></td>
        <td><%= illness_detail.peakHour %></td>
        <td><%= illness_detail.patient.name %> <%= illness_detail.patient.lastname %></td>
        <td><%= link_to 'Edit', edit_illness_detail_path(illness_detail), class:"button round tiny info" %></td>
        <td><%= link_to 'Delete', illness_detail, method: :delete, data: { confirm: 'Are you sure?' }, class:"button round tiny alert" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="row">
  <div class="twelve columns text-center"><br />
    <%= link_to 'New Illness', new_illness_detail_path, class:"button round success" %>
  </div>
</div>
