<%= form_for(@hospitalization) do |f| %>
  <% if @hospitalization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospitalization.errors.count, "error") %> prohibited this hospitalization from being saved:</h2>

      <ul>
      <% @hospitalization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :daysSpent %><br>
    <%= f.number_field :daysSpent %>
  </div>
  <div class="field">
    <%= f.label :roomNumber %><br>
    <%= f.text_field :roomNumber %>
  </div>
  <div class="field">
    <%= f.label :entryDate %><br>
    <%= f.date_select :entryDate %>
  </div>
  <div class="field">
    <%= f.label :doctor_id %><br>
    <%= f.text_field :doctor_id %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
