<p id="notice"><%= notice %></p>

<h1>Listing Microbiologists</h1>

<table>
  <thead>
    <tr>
      <th>Id number</th>
      <th>Name</th>
      <th>Lastname</th>
      <th>Birthdate</th>
      <th>Undergraduateuniversity</th>
      <th>Postgraduateuniversity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microbiologists.each do |microbiologist| %>
     <%if microbiologist.lab == current_lab %>
      <tr>
        <td><%= microbiologist.id_number %></td>
        <td><%= microbiologist.name %></td>
        <td><%= microbiologist.lastname %></td>
        <td><%= microbiologist.birthdate %></td>
        <td><%= microbiologist.undergraduateUniversity %></td>
        <td><%= microbiologist.postGraduateUniversity %></td>
        <td><%= microbiologist.email %></td>
        <td><%= link_to 'Show', microbiologist %></td>
        <td><%= link_to 'Edit', edit_microbiologist_path(microbiologist) %></td>
        <td><%= link_to 'Destroy', microbiologist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Microbiologist', new_microbiologist_path %>
