<%if user_signed_in? || admin_signed_in?%>

<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Appointment Database</h1>
  </div>

  <div class="small-10 small-centered columns">
    <table>
      <thead>
        <tr>
          <th>Appointment Date</th>
          <th>Hospitalized</th>
          <th>Doctor</th>
          <th>Operations</th>
        </tr>
      </thead>

      <tbody>
        <% @visits.each do |visit| %>
          <% if visit.doctor.email == current_admin.email %>
          <tr>
            <td><%= visit.visitDate %></td>
            <td>
              <% if visit.Hospitalized %>
                Yes
              <% else %>
                No
              <% end %>
            </td>
            <td><%= visit.doctor.name %> <%= visit.doctor.lastname %></td>
            <td><%= link_to 'Edit', edit_visit_path(visit), class: "button tiny round" %> <%= link_to 'Delete', visit, method: :delete, data: { confirm: 'Are you sure?' }, class: "button tiny round alert" %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>
<div class="row">
  <div class="twelve columns text-center"><br />
    <%= link_to 'New Appointment', new_visit_path, class: "button round info"  %>
  </div>
</div>
<% else %>
  You must me logged in as Doctor to view this page.
<% end %>
