<p id="notice"><%= notice %></p>

<p>
  <strong>Test date:</strong>
  <%= @blood_test.test_date %>
</p>

<p>
  <strong>Erythrocytes:</strong>
  <%= @blood_test.erythrocytes %>
</p>

<p>
  <strong>Hemoglobin:</strong>
  <%= @blood_test.hemoglobin %>
</p>

<p>
  <strong>Vcm:</strong>
  <%= @blood_test.vcm %>
</p>

<p>
  <strong>Hcm:</strong>
  <%= @blood_test.hcm %>
</p>

<p>
  <strong>Lymphocytes:</strong>
  <%= @blood_test.lymphocytes %>
</p>

<p>
  <strong>Leukocytes:</strong>
  <%= @blood_test.leukocytes %>
</p>

<p>
  <strong>Neutrophils:</strong>
  <%= @blood_test.neutrophils %>
</p>

<p>
  <strong>Eosinofilos:</strong>
  <%= @blood_test.eosinofilos %>
</p>

<p>
  <strong>Platelets:</strong>
  <%= @blood_test.platelets %>
</p>

<p>
  <strong>Vsg:</strong>
  <%= @blood_test.vsg %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @blood_test.patient %>
</p>

<p>
  <strong>Microbiologist:</strong>
  <%= @blood_test.microbiologist %>
</p>

<p>
  <strong>Examination cost:</strong>
  <%= @blood_test.examination_cost %>
</p>

<%= link_to 'Edit', edit_blood_test_path(@blood_test) %> |
<%= link_to 'Back', blood_tests_path %>
