<p id="notice"><%= notice %></p>
<%if secretary_signed_in?%>

<div class="row">
  <div class="twelve columns text-center"><br />
    <h1>Bills Database </h1>
  </div>
</div>

<div class="row">
  <div class="small-12 small-centered columns">

    <table>
      <thead>
        <tr>
          <th>Patient</th>
          <th>Billing Date</th>
          <th>Hospitalization Cost</th>
          <th>Blood Test Cost</th>
          <th>Doctors Payment</th>
          <th>Blood Chemistry Test Cost</th>
          <th>Total</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @bills.each do |bill| %>
          <tr>
            <td><%= bill.patient.name %> <%= bill.patient.lastname %></td>
            <td><%= bill.billDate %></td>
            <td><%= bill.hospitalizationCost %></td>
            <td><%= bill.hemogramCost %></td>
            <td><%= bill.doctorsPayment %></td>
            <td><%= bill.biochemistryCost %></td>
            <td><%= bill.total %></td>
            <td><%= link_to 'Edit', edit_bill_path(bill), class:"button round tiny secondary" %></td>
            <td><%= link_to 'Delete', bill, method: :delete, data: { confirm: 'Are you sure?' }, class:"button round tiny alert" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns text-center"><br />
    <%= link_to 'New Bill', new_bill_path, class:"button round success" %>
  </div>
</div>
<%else%>
  You must be logged in as a secretary.
<%end%>
