<p id="notice"><%= notice %></p>
<%if secretary_signed_in?%>
<h1>Listing Bills</h1>

<table>
  <thead>
    <tr>
      <th>Patient</th>
      <th>Billdate</th>
      <th>Hospitalizationcost</th>
      <th>Hemogramcost</th>
      <th>Doctorspayment</th>
      <th>Biochemistrycost</th>
      <th>Visit</th>
      <th>Hospitalization</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.patient %></td>
        <td><%= bill.billDate %></td>
        <td><%= bill.hospitalizationCost %></td>
        <td><%= bill.hemogramCost %></td>
        <td><%= bill.doctorsPayment %></td>
        <td><%= bill.biochemistryCost %></td>
        <td><%= bill.visit %></td>
        <td><%= bill.hospitalization %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <td><%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bill', new_bill_path %>
<%else%>
  You must be logged in as a secretary.
<%end%>