<%= form_for(@hospitalization) do |f| %>
  <% if @hospitalization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hospitalization.errors.count, "error") %> prohibited this hospitalization from being saved:</h2>

      <ul>
      <% @hospitalization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="field">
        <%= f.label :patient_id, "Patient" %><br>
        <%= f.collection_select :patient_id, Patient.all, :id, :email %>
      </div>
      <div class="field">
        <%= f.label :daysSpent, "Days Spent" %><br>
        <%= f.number_field :daysSpent %>
      </div>
      <div class="field">
        <%= f.label :roomNumber, "Room Number" %><br>
        <%= f.text_field :roomNumber %>
      </div>
      <div class="field">
        <%= f.label :entryDate, "Entry Date" %><br>
        <%= f.date_select :entryDate %>
      </div>
      <div class="field">
        <%= f.label :doctor_id, "Doctor" %><br>
        <%= f.collection_select :doctor_id, Doctor.all, :id, :email %>
      </div>
      <div class="field">
        <%= f.label :cost, "Cost" %><br>
        <%= f.text_field :cost %>
      </div>
      <div class="field">
        <%= f.label :payed, "Payed?" %><br>
        <%= f.check_box :payed %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns text-center"><br />
      <div class="actions">
        <%= link_to 'Back', hospitalizations_path, class:"button round secondary" %> <%= f.submit "Submit", class:"button round success"%>
      </div>
    </div>
  </div>
<% end %>
