<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Registrydate:</strong>
  <%= @patient.registryDate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Bloodtype:</strong>
  <%= @patient.bloodType %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<p>
  <strong>Maritalstatus:</strong>
  <%= @patient.maritalStatus %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @patient.birthdate %>
</p>

<p>
  <strong>Phonenumber:</strong>
  <%= @patient.phoneNumber %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @patient.cellphone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @patient.email %>
</p>

<p>
  <strong>Emergencycontact:</strong>
  <%= @patient.emergencyContact %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @patient.occupation %>
</p>

<p>
  <strong>Allergies:</strong>
  <%= @patient.allergies %>
</p>

<p>
  <strong>User:</strong>
  <%= @patient.user %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
