<%= form_for(@visit) do |f| %>
  <% if @visit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visit.errors.count, "error") %> prohibited this visit from being saved:</h2>

      <ul>
      <% @visit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-6 large-centered columns">
      <div class="field">
        <%= f.label :visitDate, 'Appointment Date' %><br>
          <%= f.date_select :visitDate, :order => [:day, :month, :year],:start_year => Time.now.year, :end_year => Time.now.year + 100 %>
      </div>
      <div class="field">
        <%= f.label :Hospitalized, 'Hospitalized' %>
        <%= f.check_box :Hospitalized %>
      </div>
      <div class="field">
        <%= f.label :doctor_id, 'Doctor'%><br>
        <%= f.collection_select :doctor_id, Doctor.all, :id, :email %>
      </div>
      <div class="twelve columns text-center"><br />
        <div class="actions">
          <%= link_to 'Back', visits_path, class:"button round info" %> <%= f.submit "Create Appointment", class:"button round success" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
