<p id="notice"><%= notice %></p>
<%if user_signed_in? || admin_signed_in?%>
<h1>Listing Visits</h1>

<table>
  <thead>
    <tr>
      <th>Visitdate</th>
      <th>Hospitalized</th>
      <th>Doctor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.visitDate %></td>
        <td><%= visit.Hospitalized %></td>
        <td><%= visit.doctor %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
<% else %>
  You must me logged in as Doctor to view this page.
<% end %>