<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nurse.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @nurse.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @nurse.birthdate %>
</p>

<p>
  <strong>Undergraduateuniversity:</strong>
  <%= @nurse.undergraduateUniversity %>
</p>

<p>
  <strong>Payperhour:</strong>
  <%= @nurse.payPerHour %>
</p>

<%= link_to 'Edit', edit_nurse_path(@nurse) %> |
<%= link_to 'Back', nurses_path %>
