<% if current_lab.microbiologist.nil? %>
<div class="row">
  <div class="twelve columns text-center"><br />
    <h2>Oops! Something is Missing!</h2>
    <p>You are a new microbiologist! Please create a profile! </p>
    <%= link_to 'New Profile', new_microbiologist_path, class: "button success" %>
  </div>
</div>
<% else %>
<div id="topBar">
  <div class="row">
    <div class="twelve columns text-center"><br />
        <h1 id="mainTitle">Microbiologist General Profile</h1>
    </div>
  </div>
</div>
<% @microbiologists.each do |microbiologist| %>
<%if microbiologist.lab == current_lab %>
<ul class="pricing-table">
  <li class="title"><%= microbiologist.name %> <%=microbiologist.lastname %></li>
  <li class="price">Microbiologist</li>
  <li class="bullet-item"><b>Email: </b><%= microbiologist.email%></li>
  <li class="bullet-item"><b>Undergraduate University: </b><%= microbiologist.undergraduateUniversity%></li>
  <li class="bullet-item"><b>Postgraduate University: </b><%=microbiologist.postGraduateUniversity%></li>
  <li class="bullet-item"><b>Birth Date: </b><%=microbiologist.birthdate%></li>
  <li class="bullet-item"><b>ID Number: </b><%=microbiologist.id_number%></li>
  <li class="cta-button"><%= link_to 'Edit', edit_microbiologist_path(microbiologist), class:"button round info" %> <%= link_to 'Delete', microbiologist, method: :delete, data: { confirm: 'Are you sure?' }, class:"button round alert" %></li>
</ul>
<% end %>
<% end %>
<% end %>
