<p id="notice"><%= notice %></p>

<p>
  <strong>Glucose:</strong>
  <%= @blood_chemistry_test.glucose %>
</p>

<p>
  <strong>Urea:</strong>
  <%= @blood_chemistry_test.urea %>
</p>

<p>
  <strong>Uric acid:</strong>
  <%= @blood_chemistry_test.uric_acid %>
</p>

<p>
  <strong>Creatinine:</strong>
  <%= @blood_chemistry_test.creatinine %>
</p>

<p>
  <strong>Cholesterol:</strong>
  <%= @blood_chemistry_test.cholesterol %>
</p>

<p>
  <strong>Hdl:</strong>
  <%= @blood_chemistry_test.hdl %>
</p>

<p>
  <strong>Ldl:</strong>
  <%= @blood_chemistry_test.ldl %>
</p>

<p>
  <strong>Triglycerides:</strong>
  <%= @blood_chemistry_test.triglycerides %>
</p>

<p>
  <strong>Got:</strong>
  <%= @blood_chemistry_test.got %>
</p>

<p>
  <strong>Gpt:</strong>
  <%= @blood_chemistry_test.gpt %>
</p>

<p>
  <strong>Ggt:</strong>
  <%= @blood_chemistry_test.ggt %>
</p>

<p>
  <strong>Alkaline phosphatase:</strong>
  <%= @blood_chemistry_test.alkaline_phosphatase %>
</p>

<p>
  <strong>Calcium:</strong>
  <%= @blood_chemistry_test.calcium %>
</p>

<p>
  <strong>Iron:</strong>
  <%= @blood_chemistry_test.iron %>
</p>

<p>
  <strong>Potassium:</strong>
  <%= @blood_chemistry_test.potassium %>
</p>

<p>
  <strong>Sodium:</strong>
  <%= @blood_chemistry_test.sodium %>
</p>

<p>
  <strong>Bilirubin:</strong>
  <%= @blood_chemistry_test.bilirubin %>
</p>

<p>
  <strong>Test date:</strong>
  <%= @blood_chemistry_test.test_date %>
</p>

<p>
  <strong>Patient:</strong>
  <%= @blood_chemistry_test.patient %>
</p>

<p>
  <strong>Microbiologist:</strong>
  <%= @blood_chemistry_test.microbiologist %>
</p>

<p>
  <strong>Examination cost:</strong>
  <%= @blood_chemistry_test.examination_cost %>
</p>

<%= link_to 'Edit', edit_blood_chemistry_test_path(@blood_chemistry_test) %> |
<%= link_to 'Back', blood_chemistry_tests_path %>
